/* CardItem.css */

.icon-button {
    color: rgba(0, 0, 0, 0.65);
    transition: color 0.3s, background-color 0.3s;
    font-size: 16px; /* Это изначальный размер иконок */
    height: 30px;    /* Устанавливаем высоту кнопки */
    width: 30px;     /* Устанавливаем ширину кнопки (равную высоте) */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; /* Скругляем углы кнопки */
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon-button:hover {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(0, 0, 0, 0.05);
}

.icon-button-voted {
    background-color: #1677ff;
    color: white;
}

.icon-button-voted:hover {
    background-color: #1355b4;
}

.icon-button.cooldown {
    /* Во время кулдауна кнопка выглядит как обычно */
    pointer-events: none; /* Блокируем взаимодействие */
}

.icon-button.cooldown:hover {
    /* При наведении на заблокированную кнопку */
    cursor: not-allowed; /* Курсор "запрещено" */
}

.icon-button.cooldown .anticon {
    color: inherit;
}

.icon-button .anticon {
    font-size: 16px; /* Возвращаем размер иконки к исходному */
    color: inherit;  /* Иконка наследует цвет текста кнопки */
}

.icon-button-votes{
    pointer-events: none;
}

.icon-button-votes>span{
    color: rgba(0, 0, 0, 0.65);
}
